@import './styles/theme.css';

:root {
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: var(--color-accent);
  text-decoration: inherit;
}

a:hover {
  color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  touch-action: none;
  /* Prevent pinch-zoom on page */
  overscroll-behavior: none;
  /* Prevent pull-to-refresh/bounce */
  overflow: hidden;
  /* Prevent scrolling */
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-secondary);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--color-accent);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;

  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }

    a:hover {
      color: #747bff;
    }

    button {
      background-color: #f9f9f9;
    }
  }
}